.box {
    width: 200px;
    height: 200px;
    background: #efefef;
    border-radius: 5px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 6px rgb(150 150 150 / 50%);
    float: left;
    position: relative;
}
.page-wrapper {    
    padding: 30px;
    width: 800px;
    margin: 0 auto;
}

.box .badge { position: absolute; right:10px; top: 10px; }