.student-container { padding: 50px 0;}

table th {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    position: relative;
    padding-right: 35px;
}

table th:after {
    position: absolute;
    right: 10px;
    top:50%;
    transform:translateY(-50%)
}

table th[data-order='']:after{
    content: "↓";
}

table th[data-order='desc']:after{
    content: '↑';
}
table th[data-order='asc']:after{
    content: '';
}