
<nav class="top-nav">
  <ul>
    <li> <a routerLinkActive="active" routerLink="banner">Banner</a></li>
    <li> <a routerLinkActive="active" routerLink="product">Products</a></li>
    <li> <a routerLinkActive="active" routerLink="count-down">Countdown</a></li>
    <li> <a routerLinkActive="active" routerLink="count-down-service">Countdown With Service</a></li>
    <li> <a routerLinkActive="active" routerLink="student-sheet">Student Sheets</a></li>
    <li> <a routerLinkActive="active" routerLink="dynamic-box">Dynamic Box</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>